{
    "extends": "react-app",
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "sourceType": "module"
    },
    "plugins": [
      "react",
      "@typescript-eslint",
      "import"
    ],
    "rules": {
      "@typescript-eslint/adjacent-overload-signatures": "error",
      "@typescript-eslint/array-type": "warn",
      "@typescript-eslint/interface-name-prefix": ["warn", "always"],
      "@typescript-eslint/ban-types": [
        "error",
        {
          "types": {
            "Object": "Avoid using the `Object` type. Did you mean `object`?",
            "Function": "Avoid using the `Function` type. Prefer a specific function type, like `() => void`.",
            "Boolean": "Avoid using the `Boolean` type. Did you mean `boolean`?",
            "Number": "Avoid using the `Number` type. Did you mean `number`?",
            "String": "Avoid using the `String` type. Did you mean `string`?",
            "Symbol": "Avoid using the `Symbol` type. Did you mean `symbol`?"
          }
        }
      ],
      "@typescript-eslint/class-name-casing": "error",
      "@typescript-eslint/no-namespace": "error",
      "@typescript-eslint/no-triple-slash-reference": "error",
      "@typescript-eslint/no-empty-interface": "error",
      "@typescript-eslint/no-misused-new": "error",
      "@typescript-eslint/type-annotation-spacing": ["warn"],
      "@typescript-eslint/unified-signatures": "error",
      "@typescript-eslint/no-inferrable-types": [
        "error",
        { "ignoreParameters": false }
      ],
      "import/no-unassigned-import": ["warn"],
      "arrow-parens": ["error", "as-needed"],
      "space-in-parens": [ 1, "always" ],
      "template-curly-spacing": [ 2, "always" ],
      "array-bracket-spacing": [ 2, "always" ],
      "object-curly-spacing": [ 2, "always" ],
      "computed-property-spacing": [ 2, "always" ],
      "no-multiple-empty-lines": [ 2, { "max": 1, "maxEOF": 0, "maxBOF": 0 } ],
      "quotes": [ 2, "single", "avoid-escape" ],
      "no-use-before-define": [ 2, { "functions": false } ],
      "semi": [0, "never"],
      "prefer-const": 2,
      "react/prefer-es6-class": 1,
      "react/jsx-filename-extension": 1,
      "react/jsx-curly-spacing": [ 2, "always" ],
      "react/jsx-indent": [ 2, 4 ],
      "react/prop-types": [ 2 ],
      "react/no-array-index-key": [ 2 ],
      "class-methods-use-this": [ 2 ],
      "no-undef": [ 2 ],
      "no-case-declarations": [ 2 ],
      "no-return-assign": [ 2 ],
      "no-param-reassign": [ 2 ],
      "no-shadow": [ 2 ],
      "camelcase": [ 2 ],
      "no-underscore-dangle" : [0, "always"],
      "complexity": ["error", 20],
    "curly": "error",
    "constructor-super": "error",
    "eqeqeq": ["error", "smart"],
    "eol-last": "warn",
    "no-restricted-syntax": [
      "error",
      "MemberExpression[object.name='document'][property.name='write']"
    ],
    "guard-for-in": "error",
    "max-classes-per-file": "error",
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreComments": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "new-parens": "error",
    "max-lines": ["error", 1000],
    "no-bitwise": "error",
    "no-caller": "error",
    "no-cond-assign": "error",
    "no-console": [
      "error",
      {
        "allow": [
          "log",
          "error",
          "warn",
          "groupCollapsed",
          "group",
          "groupEnd",
          "debug",
          "dirxml",
          "assert"
        ]
      }
    ],
    "no-debugger": "error",
    "no-duplicate-case": "error",
    "no-empty": "error",
    "no-eval": "error",
    "no-labels": "error",
    "no-new-wrappers": "error",
    "no-redeclare": "error",
    "no-return-await": "error",
    "no-restricted-globals": [
      "error",
      {
        "name": "fdescribe",
        "message": "Focused tests should not be checked in."
      },
      {
        "name": "fit",
        "message": "Focused tests should not be checked in."
      },
      {
        "name": "html",
        "message": "Any html (DOM) modifying functions are not allowed."
      }
    ],
    "no-restricted-properties": [
      "error",
      {
        "object": "test",
        "property": "only",
        "message": "Focused tests should not be checked in."
      },
      {
        "object": "describe",
        "property": "only",
        "message": "Focused tests should not be checked in."
      },
      {
        "object": "it",
        "property": "only",
        "message": "Focused tests should not be checked in."
      }
    ],
    "no-sparse-arrays": "error",
    "no-template-curly-in-string": "error",
    "no-throw-literal": "error",
    "no-trailing-spaces": "warn",
    "no-undef-init": "error",
    "no-unsafe-finally": "error",
    "no-unused-expressions": [
      "error",
      { "allowShortCircuit": true, "allowTernary": true }
    ],
    "no-var": "error",
    "object-shorthand": [0],
    "one-var": ["error", "never"],
    "prefer-template": "error",
    "radix": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "spaced-comment": [
      "warn",
      "always",
      { "markers": ["/", "@function"], "exceptions": ["*"] }
    ],
    "use-isnan": "error"
    }
  }