.SearchBar{
    position: relative;
    margin: auto;
    height: auto; 
    text-align:right;
}

#toggle.SearchBar{
    float: left;
}

#search.SearchBar{
    vertical-align: middle;
}

#search-button.SearchBar{
    float:right;
}